body{
    font-family: Arial;
    text-align:center;
    background:#f4f4f4;
}

.coffee-card{
    background:white;
    margin:15px auto;
    width:300px;
    padding:20px;
    border-radius:10px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}